{% extends "base.html"%}
{% load static %}

{% block title %}
Users
{% endblock title%}

{% block content %}
<html>
  <body class="bg-dark">
    <div class="container-my mt-5 mb-2">
      <div class="container-my-nav d-flex align-items-center justify-content-between">

      </div>

    </div>
    <div class="container-sm container-my-notes mt-3">
      <div class="d-flex justify-content-between mb-2">

      </div>
      <div id="note-div">
      </div>

      <p class="text-center d-none" id="notes-hint">

      </p>
    </div>
    <!-- <div>
      {% include 'main/components/habits/createhabitmodal.html' %}
    </div> -->
  </body>
</html>
{% endblock content %}
