<div class="modal fade" id="delete-habit-modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p id="delete-habit-modal-text"></p>
            <div class="mb-3">
                <button class="w-100 btn btn-lg btn-danger" type="click" id="delete-habit-btn">
                    Delete habit
                </button>
            </div>
        </div>
      </div>
    </div>
</div>
