
<div class="modal fade" id="create-note-modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create note</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="create-note-form">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Date</label>
              <input type="date" class="form-control" id="note-created-at" name="created_at">
              <div class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Text:</label>
              <textarea class="form-control" id="note-text" rows="6" name="text"></textarea>
            </div>
            <button class="w-100 btn btn-lg btn-success" type="submit" id="create-note-btn">
              <span class="spinner-border spinner-border-sm visually-hidden" id="spnr" aria-hidden="true"></span>
              <span role="status">
                Save note
              </span>
            </button>
            <div class="invalid-feedback-my text-center" id="invalid-fbck-create-note"></div>
          </form>
        </div>

      </div>
    </div>
</div>
